@font-face {
    font-family: 'Stardew';
    src: url(Stardew_Valley.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    background: url('./img/stardewbackground.png') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

iframe {
    text-align: center;
}

h5{
    font-family: 'Stardew';
}

.title {
    margin-top: 50px;
    text-align: center;
    font-family: 'Stardew';
    font-size: 60px;
    color: white;
}

#carouselExampleCaptions {
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 5px solid #5c2c2b;
    background-color: #eaab63;

}

.logo {
    height: 60px;
    width: 60px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-fluid {
    background-color: #3160c9;
    font-family: 'Stardew';
    font-size: 25px;
}

.text {

    position: absolute;
    top: 300px;
    left: 950px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    width: 400px;
    border: 3px solid #5c2c2b;
    background-color: #eaab63;
    font-family: 'Stardew';

}

.mus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

iframe:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.game {
    width: 250px;
    height: 255px;
}

.book {
    width: 161px;
    height: 250px;
}

.tabuleiro {
    width: 250px;
    height: 273px;

}

.row.row-cols-1.row-cols-md-3.g-4 {
    width: 70%;
    height: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

.card.h-100 {
    align-items: center;
    background-color: #DDA059;
    margin-top: 10px;
    font-family: 'Stardew';
}